<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script> 
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="getdata()">



<p>test</p>


</body>
<script type="text/javascript" src = "{{ url_for('static',filename = 'script/script.js')}}"></script>
</html>